---
import Header from '@components/Header.astro'
---

<Header title="Password Generator" />
<div
	class="flex h-screen flex-col items-center justify-center bg-orange-50 text-black/60 dark:bg-zinc-900 dark:text-white/60"
>
	<slot />
</div>
